mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    mat-nav-list {
      .menu-item {
        margin-left: 8px;
      }

      .chevron-button {
        transition: 300ms ease-in-out;
        transform: rotate(0deg);
      }

      .chevron-button.rotated {
        transform: rotate(180deg);
      }
      .menu-button {
        transition: 300ms ease-in-out;
        transform: rotate(0deg);
      }
      .menu-button.rotated {
        transform: rotate(180deg);
      }
      .submenu {
        overflow-y: hidden;
        transition: transform 300ms ease;
        transform: scaleY(0);
        transform-origin: top;
        padding-left: 30px;
        display: none;
      }
      .submenu.expanded {
        transform: scaleY(1);
      }
    }
  }
}
:host ::ng-deep .mat-drawer {
  overflow-y: visible;
}
.popOverMenu {
  position: absolute;
  background: #fff;
  border: 1px solid #c0b4b4;
  padding: 12px 0 0 12px;
  left: 56px;
  border-radius: 10px;
  min-width: 175px;
  display: flex;
  flex-direction: column;
  z-index: 10;

  & .menuSub:first-child {
    margin-left: 5px;
  }
  & .menuSub {
    font-size: 18px;
    margin-bottom: 12px;
    margin-left: 20px;
    cursor: pointer;
  }
}

.popOverMenu.dashMenu {
  top: 58px;
}
.popOverMenu.infoMenu {
  top: 110px;
}

.popOverMenu::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid #706767;
  border-bottom: 10px solid transparent;
  position: absolute;
  left: -10px;
  top: 10px;
}
